extends ./layouts/catalog.jade

block catalog_content
  h2.page-title= title
  h2(style='background: #eee;padding: 10px;border-radius: 3px;margin:20px 0px;color:#ca0000;') Din motive tehnice, această funcție este momentan oprită.