extends ./layouts/root.jade

block content
  .row
    .col-md-2.col-lg-3
    .col-lg-6.col-md-8.col-sm-12
      br
      h2.page-title= __('login')
      h4.lead= subTitle
      #login-form(style='margin: 0px auto; padding: 10px;')

      br
      br
block scripts
  script(src='https://cdn.auth0.com/js/lock/10.2/lock.min.js')
  script.
    var lock = new Auth0Lock('9gjel9ujp95eXZAebIZmGxsACrSDwsxd', 'top20.eu.auth0.com', {
      container: 'login-form',
      auth: {
        redirectUrl: 'http://'+'localhost:41521'+'/auth/auth0/callback',
        responseType: 'code',
        params: {
          scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
        }
      }
    });
    lock.show();
