extends ./int.jade

block content
  #cse-search-results
    script(type='text/javascript').
      var googleSearchIframeName = "cse-search-results";
      var googleSearchFormName = "cse-search-box";
      var googleSearchFrameWidth = 540;
      var googleSearchDomain = "www.google.com";
      var googleSearchPath = "/cse";
    script(type='text/javascript', src='http://www.google.com/afsonline/show_afs_search.js')
